<ng-template #modalFormulario let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{titulo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12" *ngFor="let f of formulario">
      <label for="{{f.Propiedad}}">
        {{f.Label}}
        <span class="p-obligatorio" *ngIf="f.Input.Required"> * </span>
      </label>
      <input type="{{f.Input.Type}}" [(ngModel)]="valor[f.Propiedad]" class="form-control" placeholder="{{f.Label}}"
        id="{{f.Propiedad}}" (ngModelChange)="validarFormulario(f)">
      <span class="mensaje-error" *ngIf="f.Input.Message && botonGuardarOprimido">
        {{f.Input.Message}}
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Aceptar</button>
    <button type="button" class="btn btn-outline-dark" (click)="dismiss()">Cancelar</button>
  </div>
</ng-template>